service: ca-alerts

frameworkVersion: "3"

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  runtime: nodejs14.x
  profile: default
  environment:
    WEATHER_BIT_API_KEY: <add in lambda>

functions:
  rateHandler:
    handler: handler.run
    events:
      # Invoke Lambda function every hour
      - schedule: rate(1 hour)
